@import "../scss-assets/main-style.scss";

.main-grid {
  margin-top: 40px;
  justify-content: space-around;
  margin: auto;

  .hero {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }

    &-img {
      @include breakpoint-up(large) {
        flex: 2;
        order: 2;
      }
      & > img {
        @include breakpoint-up(large) {
          min-height: 2rem;
          min-width: 37rem;
        }
      }
    }

    &-text {
      @include breakpoint-up(large) {
        flex: 1;
        order: 1;
        min-width: 28rem;

        & > p {
          margin: 35px 30px 40px 0;
        }
      }
      text-align: center;
      margin-top: 0; //Temporary solution to positioning problem
      padding-top: 0; //1

      // position: relative;
      // bottom: 85px;
      // Best Positioning but it overlays menus list because of position: relative
      & > h1 {
        margin-top: 0; //Temporary solution to positioning problem
        padding-top: 0; //2
        line-height: 1.4;
        color: #ffaa1c;
        text-shadow: 2px 2px black;
      }
      & > p {
        color: black;
        margin: 35px 30px 40px 30px;
        text-shadow: $light-shadow;
      }
    }
  }

  // Options button ? probably should be saved as a different component
  .options {
    color: black;
    .options-atc {
      padding: 10px;
      background-color: #0072c2;
      border-bottom: #ffaa1c solid 5px;
      border-radius: 5px;
      color: white;
      .learn-more-link {
        color: #ffaa1c;
        text-align: right;
        padding: 0 10px 10px 0;
      }
    }

    &-grid {
      @include breakpoint-up(medium) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    
    .box {
      background-color: #0072c2;
      border-bottom: #ffaa1c solid 5px;
      border-radius: 5px; 
      color: white;
    }
    
    &-item {
      padding: 1rem;
      margin-bottom: 15px;
      text-align: center;
      @include breakpoint-up(medium) {
        flex: 0 0 50%;
        text-align: left;
        
        margin: 0 10px;
        
      }

      @include breakpoint-up(large) {
        flex: 1;
        margin: 0 10px;
      }
    }

    &-title {
      font-size: $font-med;
      text-shadow: $light-shadow;
      font-weight: 600;
      margin-bottom: 1rem;
      @include breakpoint-up(large) {
        font-size: $font-b;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      &:hover {
        color: #ffaa1c;
        animation: light-fade-shadow 350ms ease-in-out forwards;
      }
    }

    &-desc {
      font-size: 0.875rem;
      color: #ddddddd9;
      text-shadow: none;
    }

    .img-box {
      
      display: grid;
      height: 100%;
     
      .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
      }
      >img {
        text-align: center;
      align-items: center;
      }
    }
  }
}
