// COLORS
$originalBlue: #05386b;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// FONTS SIZES 
$font-med: 1.125rem; //18px
$font-sm:  0.875rem; //14px
$font-b:  1.3rem; // 20.8px


//TEXT SHADOW 
$standard-shadow : 4px 4px 8px #000000b7;
$light-shadow : 2px 2px 5px #000000b0; 
$light-bold-shadow:  2px 2px #00000094;