@import "../scss-assets/main-style.scss";

.header {
  background-color: #003b73;
  text-shadow: 4px 4px 8px #000000;

  &-logo {
    > a > span {
      position: relative;
      color: white;
      bottom: 35px;
      left: 20px;
    }

    &-icon {
      width: 55px;
      height: auto;
      margin: 15px 0 10px 40px;
      border: white outset 3px;
      border-radius: 100%;
    }
  }

  &-menu {
    //Mobile menu
    margin-right: 30%;
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &-links {
    a {
      font-size: $font-sm;
      color: rgba(255, 255, 255, 0.719);
      transition: 225ms ease-in-out;

      &:hover {
        color: white;
        padding-bottom: 3px;
        border-bottom: 5px solid white ;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  
}

.change-on-mob {
  @include breakpoint-down(medium) {
    display: grid;
    grid-template-columns: 55% auto 15%;
  }
}
