@import "../scss-assets/main-style.scss";

.header {
  background-color: $headerDarkBlue;
  text-shadow: $standard-shadow;

  &-logo {
    > a > span {
      position: relative;
      color: white;
      bottom: 35px;
      left: 20px;
    }

    &-icon {
      width: 110px;
      height: auto;
      position: relative;
      top: 18px;
      @include breakpoint-up(medium) {
        width: 160px;
        margin-top: 5px;
        top: 0;
      }
      @include breakpoint-up(large ) {
        width: 100px;
      }

    }

    .ghost-icon {
      visibility: hidden;
      text-align: center;
      position: relative;
      bottom:41px;
      @include breakpoint-up(large ) {
        visibility: visible;
      }

    }
  }

  &-menu {
    //Mobile menu
    margin-right: 30%;
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &-links {
    a {
      font-size: $font-sm;
      color: rgba(255, 255, 255, 0.719);
      transition: 225ms ease-in-out;

      &:hover {
        color: white;
        padding-bottom: 3px;
        border-bottom: 5px solid white ;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .button-sign-in {
    max-height: 3.12rem;
    @include breakpoint-up(large ) {
      margin-right: 3%;
    }
  }


  &-list {
    color: black;
      
  }
  
}

.change-on-mob {
  @include breakpoint-down(medium) {
    display: grid;
    grid-template-columns: 45% auto 15%;
  }
}
